*.o
.vscode
.idea
cpp00/ex00/megaphone
cpp00/ex01/contacts
cpp00/ex02/accounts_manager
cpp01/ex00/brainzzzz
cpp01/ex01/brainzzzz_horde
cpp01/ex02/hi_brain
cpp01/ex03/violence
cpp01/ex04/sed
cpp01/ex05/harl
cpp01/ex06/harlFilter
cpp02/ex00/fixed_base
cpp02/ex01/fixed
cpp02/ex02/fixed_improved
cpp02/ex03/bsp
cpp03/ex00/ClapTrap