*.o
.vscode
.idea
cpp00/ex00/megaphone
cpp00/ex01/contacts
cpp00/ex02/accounts_manager
cpp01/ex00/brainzzzz
cpp01/ex01/brainzzzz_horde
cpp01/ex02/hi_brain
cpp01/ex03/violence
cpp01/ex04/sed
cpp01/ex05/harl
cpp01/ex06/harlFilter
cpp02/ex00/fixed_base
cpp02/ex01/fixed
cpp02/ex02/fixed_improved
cpp02/ex03/bsp
cpp03/ex00/ClapTrap
cpp03/ex01/ScavTrap
cpp03/ex02/FragTrap
cpp03/ex03/DiamondTrap
cpp04/ex00/Animals_Polymorphism
cpp04/ex01/Animals_Brain
cpp04/ex02/Animals_Abstract
cpp04/ex03/Interfaces
cpp05/ex00/bureaucrat
cpp05/ex01/bureaucrat_form
cpp05/ex02/bureaucrat_forms
cpp05/ex03/bureaucrat_intern
cpp06/ex00/converter
cpp06/ex01/serializer
cpp06/ex02/dynamic_casting
cpp07/ex00/templates
cpp07/ex01/iter
cpp07/ex02/Array
cpp08/ex00/easyfind
*_shrubbery